
@{
    ViewBag.Title = "CreateDisputeConfirmation";
}

<h2> Your dispute has been successfully created!</h2>

<h3> You will recieve an e-mail when your dispute has been looked at.</h3>

<p>
    @Html.ActionLink("Return to homepage", "MyBankAccounts", "Account")
</p>

