<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://team16longhornbank.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>team16longhornbank.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Team16LonghornBank</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Team16LonghornBank</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDBConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:team16longhornbank.database.windows.net,1433;Initial Catalog=Team16LonghornBank;Persist Security Info=False;User ID=wilsh;Password=ilikePenguins1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:team16longhornbank.database.windows.net,1433;Initial Catalog=Team16LonghornBank;Persist Security Info=False;User ID=wilsh;Password=ilikePenguins1;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Team16LonghornBank.Models.AppDbContext, Team16LonghornBank" MigrationConfiguration="Team16LonghornBank.Migrations.Configuration, Team16LonghornBank" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:team16longhornbank.database.windows.net,1433;Initial Catalog=Team16LonghornBank;Persist Security Info=False;User ID=wilsh;Password=ilikePenguins1;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>