
@{
    ViewBag.Title = "PayeeCreatedConfirmation";
}

<h2>Payee was successfully added to your list of payees.</h2>

@Html.ActionLink("OK", "PayBillsOnlineChecking", "Payees", new { @class = "btn btn-primary" })