
@{
    ViewBag.Title = "PaymentConfirmation";
}

<h2>Your bill payment was successfully processed!</h2>

@Html.ActionLink("OK", "PayBillsOnlineChecking", "Payees", new { @class = "btn btn-primary" })