
@{
    ViewBag.Title = "StockPortfolioPendingMessage";
}

<h2>Your stock portfolio is pending right now. It will be approved by a manager.</h2>

@Html.ActionLink("OK", "MyBankAccounts", "Account", null, new { @class = "btn btn-primary" })
