
@{
    ViewBag.Title = "ProcessStockPortfoliosConfirmationMessage";
}

<h2>All Stock Portfolios were processed successfully.</h2>

@Html.ActionLink("OK", "EmployeePortal", "Manage", null, new { @class = "btn btn-success" })